*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;  
}

.panel {
  border: 2px solid blue;
  height: 450px;
  width: 450px;

  display: flex;
  flex-wrap: wrap;
}

.panel div {
  width: 150px;
  height: 150px;
  border: 2px solid red;
  box-sizing: border-box;
}